{
	local_certs
}

# 1. API NestJS (Puerto 4000)
api.saas-local.test {
	reverse_proxy api:4000
}

# 2. Panel Admin Next.js (Puerto 3001)
admin.saas-local.test {
	reverse_proxy admin:3001
}

# 3. Tienda Store Next.js (Puerto 3000) - Dominio raíz y subdominios dinámicos
*.saas-local.test, saas-local.test {
	reverse_proxy store:3000
}
